<% if !flash[:error].nil? %>
    <div><%= flash[:error] %></div>
<% end %>

<div class="page-header jumbotron">
  <div class="container">
    <h1>How do you feel today?</h1>
  </div>
</div>

<% if @current_user.nil? %>
  <%= link_to "Log in", "/auth/twitter/" %>
<% else %>
  <%= link_to "Log out", "/logout", :method => :delete %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to image_tag("good.jpg", class:"btn-feelings"), root_path(:feeling => "positive"), :method => :post %>
    </div>

    <div class="col-md-6">
      <%= link_to image_tag("bad.jpg", class:"btn-feelings"), root_path(:feeling => "negative"), :method => :post %>
    </div>
  </div>
</div>
