<% if !flash[:error].nil? %>
    <div><%= flash[:error] %></div>
<% end %>

<%= @hashtag %>

<ul>
<% @tweets.each do |tweet| %>
  <li><%= tweet.text %></li>
<% end %>
</ul>

<ul class="timeline">
  <% @tweets.each_with_index do |tweet, index| %>
    <!-- decide which side of timeline to post on -->
    <% if index % 2 == 0 %>
    <li class="feed">
    <% else %>
    <li class="timeline-inverted feed">
    <% end %>

      <div class="timeline-badge muted"><i class="fa fa-twitter"></i></div>

      <div class="timeline-panel">
        <div class="timeline-heading">
            <div class="timeline-title">
              <div class="tweetWrapper">
                <%= tweet.text %>
              </div>
            </div>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Posted <%= time_ago_in_words(tweet.created_at) %> ago</small></p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
