<% if !flash[:error].nil? %>
    <div><%= flash[:error] %></div>
<% end %>

<div class="page-header jumbotron">
  <div class="container">
    <h1><%= link_to "#Feels", root_path %></h1>
    <h2 id="tagline">You said you feel <%= @feeling %>...</h2>
    <h1 id="check-out-tag">check out <span class="hashtag-name"><%= @hashtag["name"] %></span></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @tweets.each_with_index do |tweet, index| %>
      <div class="tweets">
        <blockquote class="twitter-tweet">
          <a href="https://twitter.com/Interior/status/<%= tweet.id %>"></a>
        </blockquote>
      </div>
    <% end %>
  </div>
</div>
