<!DOCTYPE html>
<html>
  <head>
    <title>feels</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Delius+Unicase|Ribeye+Marrow' rel='stylesheet' type='text/css'>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <%= render 'layouts/navbar.html.erb' %>
    <%= yield %>
    <p class="footer">&copy; <%= link_to "Ricky Hougland", "https://rickycodes.wordpress.com/", target: "_blank" %> <%= Time.now.year %></p>
  </body>

</html>
